################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fullstack-Open-IT/FileContentIndex
/.vs/Fullstack-Open-IT/v17/.wsuo
/.vs/Fullstack-Open-IT/v17/DocumentLayout.json
/.vs/
/node_modules
/Osa3/notebackend/node_modules
/Osa3/puhelinluettelo/node_modules
